<%- model_class = Gemfile -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:context) %></th>
      <th><%= model_class.human_attribute_name(:project_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @gemfiles.each do |gemfile| %>
      <tr>
        <td><%= link_to gemfile.id, gemfile_path(gemfile) %></td>
        <td><%= gemfile.context %></td>
        <td><%= gemfile.project_id %></td>
        <td><%=l gemfile.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      gemfile_path(gemfile), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_gemfile_path(gemfile), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      gemfile_path(gemfile),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_gemfile_path,
            :class => 'btn btn-primary' %>
